@page
@model IntroduccionRazor.Pages.HolaMundoRazorModel
@{
}

<!--Escribimos un mensaje utilizando sintaxis de razor-->

@{
    var mensaje = "Hola Mundo desde ASP.Net Core";
}


<p>Este es un mensaje de Bienvenida: @mensaje</p>